<ion-view view-title="Service Advisory">
    <ion-content>


        <div class="card" ng-show="serverError && !isOffline "> 

            <div class="card">
                <div class="item item-divider item-icon-left bar bar-energized" style="background-color: #f6a704;"> 
                <i class="icon ion-android-alert"></i>
                Data is not available
            </div>
            <div class="list card item-text-wrap">
                The data is not available at this time. <br>
                Please try again later.
            </div>
            </div>

        </div> 
      <!-- loading -->
       <div class="spinner" ng-show="downloading && !isOffline "> 
             <ion-spinner icon="circles" class="m-spinner spinner-energized"></ion-spinner> 
        </div> 
      <!-- Network -->
        <div  class="spinner" ng-show="isOffline">
            <img src="img/noNetwork.png" style="display:block; margin:auto;">        
        </div>
        
        
		<ion-list ng-hide="downloading || isOffline || serverError">
	    	<div class="card disable-links">
	    		<a class="item item-icon-right" href="#/app/advisories/{{l}}">
					<img style="padding: 0px;" ng-src="img/{{l}}.png" alt=""/>
				</a>

				<!-- <ion-item class="item-divider">Service Advisories</ion-item> -->

				<div class="list card" ng-repeat="item in advisories">

					<div class="item item-text-wrap">
						<h3>{{item.ReasonName}}</h3>
					</div>

					<div class="item item-body" ng-bind-html="item.LongDescription">
					</div>
				</div>				
			</div>
	    </ion-list>




	</ion-content>
</ion-view>