<ion-view view-title="Stations Around You">
    <ion-content>

        <div id="map" data-tap-disabled="true" ></div>

        <!-- <ion-list>
            <ion-item class="item-icon-left item-icon-right" can-swipe="listCanSwipe" ng-repeat="item in favList" ng-switch="{{item.type}}" href="#/app/subwaytime/{{item.lineID}}/{{item.stationId}}" >
                
                <i ng-switch-when="0" style="background-color: {{item.color}};" class="icon ion-ios-circle-filled"></i>
                <i ng-switch-when="1" style="background-color: {{item.color}};" class="icon ion-ios-circle-outline"></i>
                <i ng-switch-default="2" style="background-color: {{item.color}};" class="icon ion-ios-moon"></i>
                <img ng-src="{{item.lineImage}}" alt="Subway-Line-Icon"/>
                
                {{ item.station }}
                
                <i class="icon ion-ios-arrow-right">

                <ion-option-button class="button-positive" ng-click="addFavorite({{l}}, {{station.id}})">
                    <i class="icon ion-ios-star-outline"></i>
                </ion-option-button>

                </i>
            </ion-item>
        </ion-list> -->

    </ion-content>
</ion-view>