<ion-view  title='MTA Subway Time' view-title='<img class="title-image" src="img/header.png" />'>
    <ion-content>
        <div class="list card">
            <a class="item item-icon-left item-icon-right" href="#/app/lines">
                <i class="icon ion-android-train"></i>
                Stations by Subway Lines
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <!-- <a class="item item-icon-left item-icon-right" href="#/app/browse">
                <i class="icon ion-pinpoint"></i>
                Stations Around You
                <i class="icon ion-ios-arrow-right"></i>
            </a> -->
        </div>
        <div class="card">
            <div class="item item-divider item-icon-left bar bar-energized" style="background-color: #f6a704;"> 
                <i class="icon ion-android-alert"></i>
                Updates
            </div>
            <div class="list card item-text-wrap">
              <a href="#/app/updates" class="item item-icon-right">
                Countdown Clocks have arrived on the <img src="img/R_sm.png"/> line. Click here to learn when they're coming to your line.
                <i class="icon ion-ios-arrow-right"></i>
              </a>
            </div>
        </div>


    </ion-content>
</ion-view>
