<ion-view view-title="Updates">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap text-center">
                Countdown Clocks Rollout by Line
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar" href="#">
                <img src="img/C.png"/>
                <h2>
                    40 Stations
                </h2>
                <p>
                    Going live in July 2017
                </p>
            </div>
            <div class="item item-avatar" href="#">
                <img src="img/E_sm.png"/>
                <h2>
                    11 Stations
                </h2>
                <p>
                    Going live in August 2017
                </p>
            </div>

            <div class="item item-avatar" href="#">
                <img src="img/G_sm.png"/>
                <h2>
                    20 Stations
                </h2>
                <p>
                    Going live in August 2017
                </p>
            </div>

            <div class="item item-avatar" href="#">
                <img src="img/N.png"/>
                <h2>
                    18 Stations
                </h2>
                <p>
                    Going live in September 2017
                </p>
            </div>
           
            <div class="item item-avatar" href="#">
                <img src="img/W.png"/>
                <h2>
                    24 Stations
                </h2>
                <p>
                    Going live in September 2017
                </p>
            </div>
            <div class="item item-avatar" href="#">
                <img src="img/M_sm.png"/>
                <h2>
                    19 Stations
                </h2>
                <p>
                    Going live in September 2017
                </p>
            </div>
            <div class="item item-avatar" href="#">
                <img src="img/Q.png"/>
                <h2>
                    18 Stations (Brooklyn)
                </h2>
                <p>
                    Going live in October 2017
                </p>
            </div>
            <div class="item item-avatar" href="#">
                <img src="img/B.png"/>
                <h2>
                    11 Stations
                </h2>
                <p>
                    Going live in October 2017
                </p>
            </div>
            <div class="item item-avatar" href="#">
                <img src="img/D.png"/>
                <h2>
                    13 Stations
                </h2>
                <p>
                    Going live in November 2017
                </p>
            </div>
            <div class="item item-avatar" href="#">
                <img src="img/F_sm.png"/>
                <h2>
                    21 Stations
                </h2>
                <p>
                    Going live in November 2017
                </p>
            </div>
            <div class="item item-avatar" href="#">
                <img src="img/S.png"/>
                <h2>
                    3 Stations (Franklin Ave Shuttle)
                </h2>
                <p>
                    Going live in December 2017
                </p>
            </div>
            <div class="item item-avatar" href="#">
                <img src="img/J_sm.png"/>
                <h2>
                    22 Stations
                </h2>
                <p>
                    Going live in November 2017
                </p>
            </div>
             <div class="item item-avatar" href="#">
                <img src="img/Z_sm.png"/>
                <h2>
                    22 Stations
                </h2>
                <p>
                    Going live in November 2017
                </p>
            </div> 
            <div class="item item-avatar" href="#">
                <img src="img/A.png"/>
                <h2>
                    26 Stations
                </h2>
                <p>
                    Going live in December 2017
                </p>
            </div>
            <div class="item item-avatar" href="#">
                <img src="img/SIR.png"/>
                <h2>
                    21 Stations
                </h2>
                <p>
                    Going live in December 2017
                </p>
            </div>
            <div class="item item-avatar" href="#">
                <img src="img/7_sm.png"/>
                <h2>
                    22 Stations
                </h2>
                <p>
                    Going live in December 2017
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
